@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

button{
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

/* Header Section */

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 1;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-icon{
    font-size: 32px;
}

/* Content Section */

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.content-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag{
    background: #149f39;
    color: white;
    padding: 5px 10px;
    align-self: flex-start;
    border-radius: 4px;
}

.content-info h1{
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
}

.btn{
    align-self: flex-start;
    background:#ffc066;
}

/* Features Section */

.features{
    display: flex;
    margin-top: 100px;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.feature img{
    width: 72px;
}

.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
    border-radius: 6px;
}

.feature:hover{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    transition: 0.2s ease-in-out;
}

.border{
    border: 1px solid #ccc;
    margin: 20px 0;
}

/*  Menu Section */

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
}

.menu .tag{
    align-self: center;
}

.gridbox{
    display: grid;
    gap: 6px;
    grid-template-areas: "pic1 pic1 pic2 pic3" "pic1 pic1 pic2 pic7" "pic4 pic5 pic6 pic7";
}

.one{
    grid-area: pic1;
}
.two{
    grid-area: pic2;
}
.three{
    grid-area: pic3;
}
.four{
    grid-area: pic4;
}
.five{
    grid-area: pic5;
}
.six{
    grid-area: pic6;
}
.seven{
    grid-area: pic7;
}

.grid-image{
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

.grid-image:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}